# Git
.git
.gitignore

# Node.JS
node_modules

# Docker
.dockerignore
docker-compose.yml
Dockerfile
# Docker data
data

# Jenkins
Jenkinsfile

# SonarQube
sonar-project.properties

# Docs
README.md
LICENSE
docs/

bin/
schema/
coverage/

# Markdown
*.md